.example-tel-input-container {
    display: flex;    
  }
  
  .example-tel-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
  }
  
  .example-tel-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.example-floating .example-tel-input-spacer {
    opacity: 1;
  }
  
  .size_card {
    margin-top: 70px;
    max-width: 700px;
  }

  ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgb(10,44,62);
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}